.fill {
  display: block;

  background: linear-gradient(to right, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.fill:hover {
  background-position: left bottom;
}

.fade-in-left {
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background-color: #111111;
  background-attachment: fixed;
}

.solar-syst {
  margin: 2rem 28rem;

  width: 40%;
  height: 100%;
  position: relative;
}
.solar-syst:after {
  content: "";

  height: 2px;
  width: 2px;
  top: -2px;
  background: white;
  box-shadow: 1051px 909px 0 0px rgba(255, 255, 255, 0.368),
    193px 200px 0 0px rgba(255, 255, 255, 0.85),
    132px 432px 0 0px rgba(255, 255, 255, 0.344),
    617px 1008px 0 0px rgba(255, 255, 255, 0.54),
    85px 259px 0 0px rgba(255, 255, 255, 0.077),
    1355px 892px 0 0px rgba(255, 255, 255, 0.657),
    1539px 159px 0 0px rgba(255, 255, 255, 0.045),
    880px 1488px 0 0px rgba(255, 255, 255, 0.676),
    495px 381px 0 0px rgba(255, 255, 255, 0.187),
    1754px 1726px 0 0px rgba(255, 255, 255, 0.377),
    1728px 149px 0 0px rgba(255, 255, 255, 0.886),
    878px 1597px 0 0px rgba(255, 255, 255, 0.284),
    436px 1243px 0 0px rgba(255, 255, 255, 0.329),
    726px 1513px 0 0px rgba(255, 255, 255, 0.689),
    20px 1146px 0 0px rgba(255, 255, 255, 0.041),
    1547px 258px 0 0px rgba(255, 255, 255, 0.707),
    382px 219px 0 0px rgba(255, 255, 255, 0.772),
    626px 1520px 0 0px rgba(255, 255, 255, 0.518),
    244px 494px 0 0px rgba(255, 255, 255, 0.379),
    1744px 1478px 0 0px rgba(255, 255, 255, 0.659),
    893px 444px 0 0px rgba(255, 255, 255, 0.644),
    373px 474px 0 0px rgba(255, 255, 255, 0.346),
    1567px 1790px 0 0px rgba(255, 255, 255, 0.523),
    1080px 883px 0 0px rgba(255, 255, 255, 0.095),
    1630px 267px 0 0px rgba(255, 255, 255, 0.59),
    746px 1138px 0 0px rgba(255, 255, 255, 0.453),
    106px 286px 0 0px rgba(255, 255, 255, 0.692),
    456px 181px 0 0px rgba(255, 255, 255, 0.69),
    1162px 864px 0 0px rgba(255, 255, 255, 0.422),
    1640px 926px 0 0px rgba(255, 255, 255, 0.899),
    34px 607px 0 0px rgba(255, 255, 255, 0.253),
    899px 312px 0 0px rgba(255, 255, 255, 0.269),
    1480px 136px 0 0px rgba(255, 255, 255, 0.125),
    243px 1499px 0 0px rgba(255, 255, 255, 0.236),
    1720px 345px 0 0px rgba(255, 255, 255, 0.993),
    854px 382px 0 0px rgba(255, 255, 255, 0.181),
    1386px 725px 0 0px rgba(255, 255, 255, 0.851),
    458px 881px 0 0px rgba(255, 255, 255, 0.765),
    1777px 149px 0 0px rgba(255, 255, 255, 0.793),
    1702px 427px 0 0px rgba(255, 255, 255, 0.134),
    181px 486px 0 0px rgba(255, 255, 255, 0.491),
    821px 874px 0 0px rgba(255, 255, 255, 0.822),
    1147px 1016px 0 0px rgba(255, 255, 255, 0.756),
    16px 1405px 0 0px rgba(255, 255, 255, 0.158),
    821px 1507px 0 0px rgba(255, 255, 255, 0.157),
    454px 741px 0 0px rgba(255, 255, 255, 0.047),
    1470px 726px 0 0px rgba(255, 255, 255, 0.949),
    79px 424px 0 0px rgba(255, 255, 255, 0.958),
    188px 364px 0 0px rgba(255, 255, 255, 0.11),
    1426px 54px 0 0px rgba(255, 255, 255, 0.319),
    566px 802px 0 0px rgba(255, 255, 255, 0.334),
    52px 403px 0 0px rgba(255, 255, 255, 0.177),
    587px 1170px 0 0px rgba(255, 255, 255, 0.809),
    1140px 1242px 0 0px rgba(255, 255, 255, 0.891),
    433px 1055px 0 0px rgba(255, 255, 255, 0.76),
    332px 391px 0 0px rgba(255, 255, 255, 0.907),
    334px 1039px 0 0px rgba(255, 255, 255, 0.99),
    446px 1624px 0 0px rgba(255, 255, 255, 0.375),
    1662px 1613px 0 0px rgba(255, 255, 255, 0.116),
    1256px 1257px 0 0px rgba(255, 255, 255, 0.552),
    112px 861px 0 0px rgba(255, 255, 255, 0.793),
    656px 1253px 0 0px rgba(255, 255, 255, 0.836),
    1381px 34px 0 0px rgba(255, 255, 255, 0.467),
    1040px 630px 0 0px rgba(255, 255, 255, 0.726),
    1491px 842px 0 0px rgba(255, 255, 255, 0.066),
    826px 617px 0 0px rgba(255, 255, 255, 0.551),
    912px 819px 0 0px rgba(255, 255, 255, 0.119),
    1520px 545px 0 0px rgba(255, 255, 255, 0.189),
    145px 276px 0 0px rgba(255, 255, 255, 0.071),
    1766px 602px 0 0px rgba(255, 255, 255, 0.47),
    174px 917px 0 0px rgba(255, 255, 255, 0.164),
    1151px 525px 0 0px rgba(255, 255, 255, 0.141),
    1478px 488px 0 0px rgba(255, 255, 255, 0.45),
    1385px 22px 0 0px rgba(255, 255, 255, 0.95),
    1664px 1163px 0 0px rgba(255, 255, 255, 0.217),
    1532px 357px 0 0px rgba(255, 255, 255, 0.267),
    1052px 1154px 0 0px rgba(255, 255, 255, 0.371),
    551px 1410px 0 0px rgba(255, 255, 255, 0.453),
    1590px 1273px 0 0px rgba(255, 255, 255, 0.064),
    133px 366px 0 0px rgba(255, 255, 255, 0.278),
    1622px 850px 0 0px rgba(255, 255, 255, 0.345),
    1316px 1238px 0 0px rgba(255, 255, 255, 0.211),
    129px 57px 0 0px rgba(255, 255, 255, 0.739),
    1311px 1265px 0 0px rgba(255, 255, 255, 0.462),
    319px 1336px 0 0px rgba(255, 255, 255, 0.78),
    1418px 697px 0 0px rgba(255, 255, 255, 0.342),
    1663px 1041px 0 0px rgba(255, 255, 255, 0.589),
    1722px 329px 0 0px rgba(255, 255, 255, 0.338),
    1154px 1309px 0 0px rgba(255, 255, 255, 0.823),
    1331px 352px 0 0px rgba(255, 255, 255, 0.332),
    1219px 1761px 0 0px rgba(255, 255, 255, 0.409),
    217px 445px 0 0px rgba(255, 255, 255, 0.93),
    1518px 294px 0 0px rgba(255, 255, 255, 0.024),
    1324px 22px 0 0px rgba(255, 255, 255, 0.198),
    1047px 498px 0 0px rgba(255, 255, 255, 0.361),
    897px 131px 0 0px rgba(255, 255, 255, 0.294),
    649px 73px 0 0px rgba(255, 255, 255, 0.557),
    976px 1387px 0 0px rgba(255, 255, 255, 0.683),
    1268px 776px 0 0px rgba(255, 255, 255, 0.517),
    178px 124px 0 0px rgba(255, 255, 255, 0.92),
    212px 1016px 0 0px rgba(255, 255, 255, 0.863),
    1612px 92px 0 0px rgba(255, 255, 255, 0.077),
    283px 261px 0 0px rgba(255, 255, 255, 0.925),
    1334px 484px 0 0px rgba(255, 255, 255, 0.627),
    1750px 1564px 0 0px rgba(255, 255, 255, 0.486),
    927px 278px 0 0px rgba(255, 255, 255, 0.598),
    532px 1184px 0 0px rgba(255, 255, 255, 0.557),
    539px 1127px 0 0px rgba(255, 255, 255, 0.052),
    1351px 714px 0 0px rgba(255, 255, 255, 0.487),
    929px 1269px 0 0px rgba(255, 255, 255, 0.01),
    1716px 1288px 0 0px rgba(255, 255, 255, 0.909),
    311px 1496px 0 0px rgba(255, 255, 255, 0.576),
    223px 1210px 0 0px rgba(255, 255, 255, 0.476),
    825px 923px 0 0px rgba(255, 255, 255, 0.338),
    733px 1493px 0 0px rgba(255, 255, 255, 0.7),
    284px 1224px 0 0px rgba(255, 255, 255, 0.807),
    195px 100px 0 0px rgba(255, 255, 255, 0.661),
    1656px 130px 0 0px rgba(255, 255, 255, 0.313),
    1504px 907px 0 0px rgba(255, 255, 255, 0.521),
    1350px 1514px 0 0px rgba(255, 255, 255, 0.55),
    1377px 1698px 0 0px rgba(255, 255, 255, 0.118),
    1737px 128px 0 0px rgba(255, 255, 255, 0.342),
    244px 1408px 0 0px rgba(255, 255, 255, 0.766),
    141px 757px 0 0px rgba(255, 255, 255, 0.218),
    989px 584px 0 0px rgba(255, 255, 255, 0.243),
    456px 1296px 0 0px rgba(255, 255, 255, 0.651),
    1089px 1644px 0 0px rgba(255, 255, 255, 0.683),
    605px 868px 0 0px rgba(255, 255, 255, 0.632),
    1188px 1003px 0 0px rgba(255, 255, 255, 0.895),
    297px 605px 0 0px rgba(255, 255, 255, 0.186),
    363px 668px 0 0px rgba(255, 255, 255, 0.179),
    423px 317px 0 0px rgba(255, 255, 255, 0.069),
    923px 89px 0 0px rgba(255, 255, 255, 0.169),
    150px 647px 0 0px rgba(255, 255, 255, 0.153),
    548px 401px 0 0px rgba(255, 255, 255, 0.887),
    1778px 534px 0 0px rgba(255, 255, 255, 0.24),
    493px 716px 0 0px rgba(255, 255, 255, 0.601),
    640px 618px 0 0px rgba(255, 255, 255, 0.823),
    367px 499px 0 0px rgba(255, 255, 255, 0.003),
    1246px 1661px 0 0px rgba(255, 255, 255, 0.05),
    264px 486px 0 0px rgba(255, 255, 255, 0.637),
    883px 368px 0 0px rgba(255, 255, 255, 0.865),
    518px 785px 0 0px rgba(255, 255, 255, 0.108),
    223px 1694px 0 0px rgba(255, 255, 255, 0.709),
    1673px 110px 0 0px rgba(255, 255, 255, 0.807),
    746px 1591px 0 0px rgba(255, 255, 255, 0.121),
    1163px 1433px 0 0px rgba(255, 255, 255, 0.239),
    115px 496px 0 0px rgba(255, 255, 255, 0.298),
    1533px 473px 0 0px rgba(255, 255, 255, 0.439),
    1772px 1093px 0 0px rgba(255, 255, 255, 0.498),
    1426px 788px 0 0px rgba(255, 255, 255, 0.778),
    17px 242px 0 0px rgba(255, 255, 255, 0.947),
    705px 1584px 0 0px rgba(255, 255, 255, 0.798),
    1252px 565px 0 0px rgba(255, 255, 255, 0.476),
    1287px 263px 0 0px rgba(255, 255, 255, 0.03),
    296px 1685px 0 0px rgba(255, 255, 255, 0.927),
    135px 598px 0 0px rgba(255, 255, 255, 0.586),
    771px 1179px 0 0px rgba(255, 255, 255, 0.909),
    1422px 1062px 0 0px rgba(255, 255, 255, 0.066),
    1049px 1441px 0 0px rgba(255, 255, 255, 0.668),
    1561px 975px 0 0px rgba(255, 255, 255, 0.409),
    995px 835px 0 0px rgba(255, 255, 255, 0.196),
    1175px 802px 0 0px rgba(255, 255, 255, 0.415),
    320px 267px 0 0px rgba(255, 255, 255, 0.877),
    1535px 754px 0 0px rgba(255, 255, 255, 0.15),
    318px 55px 0 0px rgba(255, 255, 255, 0.731),
    1074px 1552px 0 0px rgba(255, 255, 255, 0.671),
    790px 131px 0 0px rgba(255, 255, 255, 0.27),
    1353px 220px 0 0px rgba(255, 255, 255, 0.808),
    1122px 1614px 0 0px rgba(255, 255, 255, 0.063),
    854px 461px 0 0px rgba(255, 255, 255, 0.989),
    26px 256px 0 0px rgba(255, 255, 255, 0.193),
    743px 1267px 0 0px rgba(255, 255, 255, 0.728),
    219px 1570px 0 0px rgba(255, 255, 255, 0.331),
    783px 987px 0 0px rgba(255, 255, 255, 0.597),
    1322px 439px 0 0px rgba(255, 255, 255, 0.168),
    196px 414px 0 0px rgba(255, 255, 255, 0.653),
    267px 315px 0 0px rgba(255, 255, 255, 0.764),
    1698px 96px 0 0px rgba(255, 255, 255, 0.762),
    30px 1339px 0 0px rgba(255, 255, 255, 1),
    779px 292px 0 0px rgba(255, 255, 255, 0.562),
    1570px 454px 0 0px rgba(255, 255, 255, 0.183),
    1297px 693px 0 0px rgba(255, 255, 255, 0.75),
    261px 56px 0 0px rgba(255, 255, 255, 0.93),
    387px 643px 0 0px rgba(255, 255, 255, 0.841),
    1631px 433px 0 0px rgba(255, 255, 255, 0.678),
    263px 68px 0 0px rgba(255, 255, 255, 0.196),
    65px 136px 0 0px rgba(255, 255, 255, 0.658),
    1014px 928px 0 0px rgba(255, 255, 255, 0.053),
    1287px 482px 0 0px rgba(255, 255, 255, 0.026),
    1542px 822px 0 0px rgba(255, 255, 255, 0.049),
    1037px 92px 0 0px rgba(255, 255, 255, 0.24),
    1650px 22px 0 0px rgba(255, 255, 255, 0.252),
    1534px 231px 0 0px rgba(255, 255, 255, 0.494),
    1789px 1225px 0 0px rgba(255, 255, 255, 0.295),
    750px 1563px 0 0px rgba(255, 255, 255, 0.902),
    970px 157px 0 0px rgba(255, 255, 255, 0.099),
    1709px 1121px 0 0px rgba(255, 255, 255, 0.247),
    1374px 1424px 0 0px rgba(255, 255, 255, 0.004),
    1063px 931px 0 0px rgba(255, 255, 255, 0.768),
    1496px 1540px 0 0px rgba(255, 255, 255, 0.256),
    829px 1614px 0 0px rgba(255, 255, 255, 0.271),
    522px 1728px 0 0px rgba(255, 255, 255, 0.346),
    1433px 1773px 0 0px rgba(255, 255, 255, 0.569),
    500px 1314px 0 0px rgba(255, 255, 255, 0.859),
    532px 1765px 0 0px rgba(255, 255, 255, 0.78),
    1484px 72px 0 0px rgba(255, 255, 255, 0.534),
    726px 1207px 0 0px rgba(255, 255, 255, 0.388),
    1710px 55px 0 0px rgba(255, 255, 255, 0.005),
    1282px 1137px 0 0px rgba(255, 255, 255, 0.999),
    833px 1644px 0 0px rgba(255, 255, 255, 0.83),
    1238px 1225px 0 0px rgba(255, 255, 255, 0.272),
    991px 1474px 0 0px rgba(255, 255, 255, 0.364),
    1625px 1301px 0 0px rgba(255, 255, 255, 0.713),
    364px 605px 0 0px rgba(255, 255, 255, 0.46),
    443px 1123px 0 0px rgba(255, 255, 255, 0.486),
    242px 1483px 0 0px rgba(255, 255, 255, 0.715),
    1578px 1214px 0 0px rgba(255, 255, 255, 0.144),
    1145px 1707px 0 0px rgba(255, 255, 255, 0.815),
    978px 1579px 0 0px rgba(255, 255, 255, 0.214),
    1513px 1366px 0 0px rgba(255, 255, 255, 0.26),
    331px 399px 0 0px rgba(255, 255, 255, 0.873),
    759px 165px 0 0px rgba(255, 255, 255, 0.626),
    115px 752px 0 0px rgba(255, 255, 255, 0.373),
    892px 61px 0 0px rgba(255, 255, 255, 0.132),
    258px 517px 0 0px rgba(255, 255, 255, 0.303),
    343px 28px 0 0px rgba(255, 255, 255, 0.977),
    1304px 816px 0 0px rgba(255, 255, 255, 0.169),
    944px 1560px 0 0px rgba(255, 255, 255, 0.94),
    649px 1473px 0 0px rgba(255, 255, 255, 0.675),
    468px 231px 0 0px rgba(255, 255, 255, 0.916),
    1293px 1540px 0 0px rgba(255, 255, 255, 0.232),
    1624px 588px 0 0px rgba(255, 255, 255, 0.697),
    95px 1174px 0 0px rgba(255, 255, 255, 0.513),
    933px 788px 0 0px rgba(255, 255, 255, 0.492),
    157px 279px 0 0px rgba(255, 255, 255, 0.431),
    474px 19px 0 0px rgba(255, 255, 255, 0.677),
    577px 1549px 0 0px rgba(255, 255, 255, 0.66),
    173px 100px 0 0px rgba(255, 255, 255, 0.438),
    1646px 1147px 0 0px rgba(255, 255, 255, 0.465),
    1212px 1026px 0 0px rgba(255, 255, 255, 0.425),
    1186px 520px 0 0px rgba(255, 255, 255, 0.466),
    243px 520px 0 0px rgba(255, 255, 255, 0.546),
    15px 1333px 0 0px rgba(255, 255, 255, 0.64),
    1290px 502px 0 0px rgba(255, 255, 255, 0.953),
    1094px 1696px 0 0px rgba(255, 255, 255, 0.542),
    82px 775px 0 0px rgba(255, 255, 255, 0.424),
    562px 568px 0 0px rgba(255, 255, 255, 0.9),
    684px 225px 0 0px rgba(255, 255, 255, 0.086),
    713px 808px 0 0px rgba(255, 255, 255, 0.975),
    74px 1070px 0 0px rgba(255, 255, 255, 0.822),
    826px 1520px 0 0px rgba(255, 255, 255, 0.846),
    492px 268px 0 0px rgba(255, 255, 255, 0.879),
    1591px 832px 0 0px rgba(255, 255, 255, 0.58),
    523px 616px 0 0px rgba(255, 255, 255, 0.723),
    182px 320px 0 0px rgba(255, 255, 255, 0.276),
    1583px 533px 0 0px rgba(255, 255, 255, 0.101),
    874px 1107px 0 0px rgba(255, 255, 255, 0.315),
    1371px 1392px 0 0px rgba(255, 255, 255, 0.539),
    1734px 1348px 0 0px rgba(255, 255, 255, 0.522),
    265px 114px 0 0px rgba(255, 255, 255, 0.919),
    956px 95px 0 0px rgba(255, 255, 255, 0.315),
    1281px 1021px 0 0px rgba(255, 255, 255, 0.709),
    1753px 1259px 0 0px rgba(255, 255, 255, 0.907),
    513px 1087px 0 0px rgba(255, 255, 255, 0.899),
    1688px 124px 0 0px rgba(255, 255, 255, 0.027),
    1485px 939px 0 0px rgba(255, 255, 255, 0.209),
    393px 150px 0 0px rgba(255, 255, 255, 0.985),
    1639px 1615px 0 0px rgba(255, 255, 255, 0.102),
    25px 754px 0 0px rgba(255, 255, 255, 0.394),
    544px 667px 0 0px rgba(255, 255, 255, 0.967),
    590px 412px 0 0px rgba(255, 255, 255, 0.484),
    1218px 776px 0 0px rgba(255, 255, 255, 0.371),
    855px 1187px 0 0px rgba(255, 255, 255, 0.026),
    1051px 1587px 0 0px rgba(255, 255, 255, 0.347),
    1202px 1357px 0 0px rgba(255, 255, 255, 0.263),
    623px 1297px 0 0px rgba(255, 255, 255, 0.427),
    481px 1737px 0 0px rgba(255, 255, 255, 0.499),
    480px 990px 0 0px rgba(255, 255, 255, 0.351),
    1673px 1712px 0 0px rgba(255, 255, 255, 0.44),
    1511px 267px 0 0px rgba(255, 255, 255, 0.579),
    1097px 213px 0 0px rgba(255, 255, 255, 0.96),
    1455px 287px 0 0px rgba(255, 255, 255, 0.402),
    1431px 1787px 0 0px rgba(255, 255, 255, 0.323),
    462px 1001px 0 0px rgba(255, 255, 255, 0.155),
    886px 1360px 0 0px rgba(255, 255, 255, 0.763),
    987px 243px 0 0px rgba(255, 255, 255, 0.358),
    527px 1354px 0 0px rgba(255, 255, 255, 0.544),
    505px 726px 0 0px rgba(255, 255, 255, 0.361),
    763px 351px 0 0px rgba(255, 255, 255, 0.314),
    1514px 1013px 0 0px rgba(255, 255, 255, 0.19),
    537px 165px 0 0px rgba(255, 255, 255, 0.411),
    324px 1159px 0 0px rgba(255, 255, 255, 0.621),
    990px 1094px 0 0px rgba(255, 255, 255, 0.547),
    557px 475px 0 0px rgba(255, 255, 255, 0.642),
    1653px 1411px 0 0px rgba(255, 255, 255, 0.433),
    198px 407px 0 0px rgba(255, 255, 255, 0.504),
    131px 1068px 0 0px rgba(255, 255, 255, 0.544),
    737px 1313px 0 0px rgba(255, 255, 255, 0.368),
    76px 482px 0 0px rgba(255, 255, 255, 0.794),
    1058px 709px 0 0px rgba(255, 255, 255, 0.893),
    1113px 1433px 0 0px rgba(255, 255, 255, 0.65),
    331px 402px 0 0px rgba(255, 255, 255, 0.451),
    1674px 1620px 0 0px rgba(255, 255, 255, 0.966),
    1553px 776px 0 0px rgba(255, 255, 255, 0.296),
    183px 200px 0 0px rgba(255, 255, 255, 0.67),
    1798px 1122px 0 0px rgba(255, 255, 255, 0.342),
    294px 1624px 0 0px rgba(255, 255, 255, 0.782),
    98px 813px 0 0px rgba(255, 255, 255, 0.302),
    1656px 956px 0 0px rgba(255, 255, 255, 0.259),
    360px 265px 0 0px rgba(255, 255, 255, 0.122),
    620px 1599px 0 0px rgba(255, 255, 255, 0.479),
    212px 668px 0 0px rgba(255, 255, 255, 0.375),
    381px 1105px 0 0px rgba(255, 255, 255, 0.035),
    756px 708px 0 0px rgba(255, 255, 255, 0.704),
    1776px 192px 0 0px rgba(255, 255, 255, 0.215),
    677px 338px 0 0px rgba(255, 255, 255, 0.54),
    1581px 321px 0 0px rgba(255, 255, 255, 0.965),
    180px 282px 0 0px rgba(255, 255, 255, 0.985),
    1563px 398px 0 0px rgba(255, 255, 255, 0.179),
    1221px 1204px 0 0px rgba(255, 255, 255, 0.841),
    982px 1775px 0 0px rgba(255, 255, 255, 0.338),
    462px 222px 0 0px rgba(255, 255, 255, 0.52),
    530px 954px 0 0px rgba(255, 255, 255, 0.016),
    1265px 514px 0 0px rgba(255, 255, 255, 0.182),
    880px 147px 0 0px rgba(255, 255, 255, 0.713),
    82px 1487px 0 0px rgba(255, 255, 255, 0.474),
    1248px 1451px 0 0px rgba(255, 255, 255, 0.228),
    413px 1077px 0 0px rgba(255, 255, 255, 0.708),
    277px 678px 0 0px rgba(255, 255, 255, 0.246),
    1176px 622px 0 0px rgba(255, 255, 255, 0.14),
    841px 171px 0 0px rgba(255, 255, 255, 0.588),
    767px 617px 0 0px rgba(255, 255, 255, 0.43),
    861px 935px 0 0px rgba(255, 255, 255, 0.726),
    1490px 73px 0 0px rgba(255, 255, 255, 0.899),
    344px 877px 0 0px rgba(255, 255, 255, 0.5),
    1392px 764px 0 0px rgba(255, 255, 255, 0.339),
    1251px 1750px 0 0px rgba(255, 255, 255, 0.375),
    323px 906px 0 0px rgba(255, 255, 255, 0.979),
    1029px 908px 0 0px rgba(255, 255, 255, 0.818),
    1073px 1632px 0 0px rgba(255, 255, 255, 0.195),
    589px 1416px 0 0px rgba(255, 255, 255, 0.305),
    944px 1602px 0 0px rgba(255, 255, 255, 0.454),
    1034px 1624px 0 0px rgba(255, 255, 255, 0.328),
    1155px 1326px 0 0px rgba(255, 255, 255, 0.968),
    628px 1389px 0 0px rgba(255, 255, 255, 0.979),
    783px 1401px 0 0px rgba(255, 255, 255, 0.644),
    422px 429px 0 0px rgba(255, 255, 255, 0.461),
    590px 768px 0 0px rgba(255, 255, 255, 0.184),
    1163px 1739px 0 0px rgba(255, 255, 255, 0.828),
    875px 898px 0 0px rgba(255, 255, 255, 0.164),
    914px 269px 0 0px rgba(255, 255, 255, 0.836),
    1364px 1538px 0 0px rgba(255, 255, 255, 0.319),
    1420px 1613px 0 0px rgba(255, 255, 255, 0.391),
    1709px 1602px 0 0px rgba(255, 255, 255, 0.597),
    61px 799px 0 0px rgba(255, 255, 255, 0.93),
    1260px 1278px 0 0px rgba(255, 255, 255, 0.681),
    191px 1177px 0 0px rgba(255, 255, 255, 0.013),
    303px 561px 0 0px rgba(255, 255, 255, 0.181),
    1302px 1594px 0 0px rgba(255, 255, 255, 0.681),
    1298px 1097px 0 0px rgba(255, 255, 255, 0.017),
    1771px 523px 0 0px rgba(255, 255, 255, 0.305),
    1408px 294px 0 0px rgba(255, 255, 255, 0.89),
    1305px 1661px 0 0px rgba(255, 255, 255, 0.58),
    1228px 434px 0 0px rgba(255, 255, 255, 0.831),
    475px 507px 0 0px rgba(255, 255, 255, 0.573),
    1792px 947px 0 0px rgba(255, 255, 255, 0.037),
    822px 865px 0 0px rgba(255, 255, 255, 0.426),
    1155px 1309px 0 0px rgba(255, 255, 255, 0.908),
    513px 1602px 0 0px rgba(255, 255, 255, 0.402),
    1212px 1784px 0 0px rgba(255, 255, 255, 0.399),
    1629px 1281px 0 0px rgba(255, 255, 255, 0.779),
    921px 1766px 0 0px rgba(255, 255, 255, 0.902),
    612px 11px 0 0px rgba(255, 255, 255, 0.245),
    542px 1051px 0 0px rgba(255, 255, 255, 0.53),
    99px 950px 0 0px rgba(255, 255, 255, 0.602),
    1316px 1014px 0 0px rgba(255, 255, 255, 0.148),
    1358px 520px 0 0px rgba(255, 255, 255, 0.953),
    355px 604px 0 0px rgba(255, 255, 255, 0.533),
    752px 850px 0 0px rgba(255, 255, 255, 0.107),
    1495px 635px 0 0px rgba(255, 255, 255, 0.473),
    83px 194px 0 0px rgba(255, 255, 255, 0.009),
    228px 1209px 0 0px rgba(255, 255, 255, 0.28),
    1635px 1252px 0 0px rgba(255, 255, 255, 0.337),
    855px 634px 0 0px rgba(255, 255, 255, 0.324),
    156px 1696px 0 0px rgba(255, 255, 255, 0.703),
    1776px 1097px 0 0px rgba(255, 255, 255, 0.465),
    1338px 378px 0 0px rgba(255, 255, 255, 0.434),
    981px 743px 0 0px rgba(255, 255, 255, 0.284),
    1291px 1281px 0 0px rgba(255, 255, 255, 0.201),
    1148px 1393px 0 0px rgba(255, 255, 255, 0.286),
    756px 1046px 0 0px rgba(255, 255, 255, 0.623),
    1659px 872px 0 0px rgba(255, 255, 255, 0.676),
    1657px 867px 0 0px rgba(255, 255, 255, 0.59),
    1551px 974px 0 0px rgba(255, 255, 255, 0.774),
    367px 360px 0 0px rgba(255, 255, 255, 0.554),
    103px 455px 0 0px rgba(255, 255, 255, 0.609),
    1164px 617px 0 0px rgba(255, 255, 255, 0.83),
    306px 1254px 0 0px rgba(255, 255, 255, 0.886),
    1133px 889px 0 0px rgba(255, 255, 255, 0.506),
    1481px 998px 0 0px rgba(255, 255, 255, 0.394),
    342px 1303px 0 0px rgba(255, 255, 255, 0.202),
    1441px 738px 0 0px rgba(255, 255, 255, 0.828),
    23px 598px 0 0px rgba(255, 255, 255, 0.499),
    1318px 885px 0 0px rgba(255, 255, 255, 0.932),
    788px 1355px 0 0px rgba(255, 255, 255, 0.425),
    749px 551px 0 0px rgba(255, 255, 255, 0.536),
    898px 565px 0 0px rgba(255, 255, 255, 0.182),
    1078px 1363px 0 0px rgba(255, 255, 255, 0.318),
    1421px 1655px 0 0px rgba(255, 255, 255, 0.239),
    958px 501px 0 0px rgba(255, 255, 255, 0.277),
    809px 1298px 0 0px rgba(255, 255, 255, 0.995),
    1384px 417px 0 0px rgba(255, 255, 255, 0.668),
    868px 1521px 0 0px rgba(255, 255, 255, 0.162),
    1022px 1603px 0 0px rgba(255, 255, 255, 0.675),
    1039px 1215px 0 0px rgba(255, 255, 255, 0.89),
    770px 1142px 0 0px rgba(255, 255, 255, 0.751),
    268px 1677px 0 0px rgba(255, 255, 255, 0.484),
    1165px 742px 0 0px rgba(255, 255, 255, 0.625),
    804px 1263px 0 0px rgba(255, 255, 255, 0.927),
    977px 782px 0 0px rgba(255, 255, 255, 0.392),
    1435px 580px 0 0px rgba(255, 255, 255, 0.449),
    127px 983px 0 0px rgba(255, 255, 255, 0.618),
    1562px 537px 0 0px rgba(255, 255, 255, 0.618),
    660px 927px 0 0px rgba(255, 255, 255, 0.312),
    1380px 999px 0 0px rgba(255, 255, 255, 0.253),
    1604px 862px 0 0px rgba(255, 255, 255, 0.618),
    655px 1729px 0 0px rgba(255, 255, 255, 0.045),
    1239px 116px 0 0px rgba(255, 255, 255, 0.905),
    1567px 1264px 0 0px rgba(255, 255, 255, 0.338),
    1591px 230px 0 0px rgba(255, 255, 255, 0.536),
    1236px 364px 0 0px rgba(255, 255, 255, 0.639),
    167px 428px 0 0px rgba(255, 255, 255, 0.753),
    1380px 611px 0 0px rgba(255, 255, 255, 0.215),
    1501px 1314px 0 0px rgba(255, 255, 255, 0.38),
    512px 585px 0 0px rgba(255, 255, 255, 0.145),
    12px 1487px 0 0px rgba(255, 255, 255, 0.704),
    850px 1287px 0 0px rgba(255, 255, 255, 0.004),
    680px 1657px 0 0px rgba(255, 255, 255, 0.722),
    645px 1123px 0 0px rgba(255, 255, 255, 0.605),
    991px 898px 0 0px rgba(255, 255, 255, 0.224),
    505px 816px 0 0px rgba(255, 255, 255, 0.88),
    99px 1110px 0 0px rgba(255, 255, 255, 0.597),
    489px 1130px 0 0px rgba(255, 255, 255, 0.19),
    885px 954px 0 0px rgba(255, 255, 255, 0.069),
    212px 912px 0 0px rgba(255, 255, 255, 0.686),
    886px 1222px 0 0px rgba(255, 255, 255, 0.42),
    681px 592px 0 0px rgba(255, 255, 255, 0.51),
    1667px 1510px 0 0px rgba(255, 255, 255, 0.296),
    735px 920px 0 0px rgba(255, 255, 255, 0.258),
    645px 1214px 0 0px rgba(255, 255, 255, 0.74),
    515px 1155px 0 0px rgba(255, 255, 255, 0.545),
    179px 202px 0 0px rgba(255, 255, 255, 0.552),
    1712px 1438px 0 0px rgba(255, 255, 255, 0.502),
    604px 35px 0 0px rgba(255, 255, 255, 0.391),
    83px 634px 0 0px rgba(255, 255, 255, 0.092),
    779px 1733px 0 0px rgba(255, 255, 255, 0.478),
    1320px 256px 0 0px rgba(255, 255, 255, 0.703),
    215px 272px 0 0px rgba(255, 255, 255, 0.025),
    562px 531px 0 0px rgba(255, 255, 255, 0.178),
    1146px 856px 0 0px rgba(255, 255, 255, 0.994),
    616px 1428px 0 0px rgba(255, 255, 255, 0.062),
    1624px 1588px 0 0px rgba(255, 255, 255, 0.132),
    161px 1517px 0 0px rgba(255, 255, 255, 0.612),
    1019px 1306px 0 0px rgba(255, 255, 255, 0.858),
    193px 59px 0 0px rgba(255, 255, 255, 0.852),
    125px 882px 0 0px rgba(255, 255, 255, 0.77),
    616px 43px 0 0px rgba(255, 255, 255, 0.757),
    684px 915px 0 0px rgba(255, 255, 255, 0.706),
    71px 176px 0 0px rgba(255, 255, 255, 0.528),
    698px 1657px 0 0px rgba(255, 255, 255, 0.314),
    1576px 1164px 0 0px rgba(255, 255, 255, 0.759),
    965px 1512px 0 0px rgba(255, 255, 255, 0.499),
    383px 1797px 0 0px rgba(255, 255, 255, 0.534),
    1058px 1788px 0 0px rgba(255, 255, 255, 0.761),
    1203px 214px 0 0px rgba(255, 255, 255, 0.002),
    470px 1494px 0 0px rgba(255, 255, 255, 0.042),
    652px 816px 0 0px rgba(255, 255, 255, 0.448),
    131px 794px 0 0px rgba(255, 255, 255, 0.891),
    463px 1665px 0 0px rgba(255, 255, 255, 0.549),
    1733px 1197px 0 0px rgba(255, 255, 255, 0.772),
    1406px 461px 0 0px rgba(255, 255, 255, 0.869),
    1604px 1018px 0 0px rgba(255, 255, 255, 0.661),
    940px 238px 0 0px rgba(255, 255, 255, 0.644),
    903px 271px 0 0px rgba(255, 255, 255, 0.479),
    1498px 96px 0 0px rgba(255, 255, 255, 0.463),
    659px 757px 0 0px rgba(255, 255, 255, 0.578),
    1259px 622px 0 0px rgba(255, 255, 255, 0.889),
    632px 1384px 0 0px rgba(255, 255, 255, 0.479),
    1649px 591px 0 0px rgba(255, 255, 255, 0.815),
    1596px 380px 0 0px rgba(255, 255, 255, 0.342),
    1101px 558px 0 0px rgba(255, 255, 255, 0.083),
    133px 1261px 0 0px rgba(255, 255, 255, 0.534),
    1095px 101px 0 0px rgba(255, 255, 255, 0.726),
    614px 3px 0 0px rgba(255, 255, 255, 0.164),
    1776px 202px 0 0px rgba(255, 255, 255, 0.166),
    511px 274px 0 0px rgba(255, 255, 255, 0.32),
    1267px 214px 0 0px rgba(255, 255, 255, 0.519),
    1241px 485px 0 0px rgba(255, 255, 255, 0.669),
    1631px 650px 0 0px rgba(255, 255, 255, 0.996);
  border-radius: 100px;
}
.solar-syst div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}
.solar-syst div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}
.solar-syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}
.solar-syst div:not(.asteroids-belt):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
  background: radial-gradient(
    ellipse at center,
    #ffd000 1%,
    #f9b700 39%,
    #f9b700 39%,
    #e06317 100%
  );
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4),
    0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  -webkit-animation: orb 7.1867343561s linear infinite;
  animation: orb 7.1867343561s linear infinite;
}
.mercury:before {
  height: 4px;
  width: 4px;
  background: #9f5e26;
  margin-top: -2px;
  margin-left: -2px;
}

.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: orb 18.4555338265s linear infinite;
  animation: orb 18.4555338265s linear infinite;
}
.venus:before {
  height: 8px;
  width: 8px;
  background: #beb768;
  margin-top: -4px;
  margin-left: -4px;
}

.earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  -webkit-animation: orb 30s linear infinite;
  animation: orb 30s linear infinite;
}
.earth:before {
  height: 6px;
  width: 6px;
  background: #11abe9;
  margin-top: -3px;
  margin-left: -3px;
}
.earth:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
  -webkit-animation: orb 2.2440352158s linear infinite;
  animation: orb 2.2440352158s linear infinite;
}

.mars {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  -webkit-animation: orb 56.4261314589s linear infinite;
  animation: orb 56.4261314589s linear infinite;
}
.mars:before {
  height: 6px;
  width: 6px;
  background: #cf3921;
  margin-top: -3px;
  margin-left: -3px;
}

.jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  -webkit-animation: orb 355.7228171013s linear infinite;
  animation: orb 355.7228171013s linear infinite;
}
.jupiter:before {
  height: 18px;
  width: 18px;
  background: #c76e2a;
  margin-top: -9px;
  margin-left: -9px;
}

.saturn {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  -webkit-animation: orb 882.6952471456s linear infinite;
  animation: orb 882.6952471456s linear infinite;
}
.saturn:before {
  height: 12px;
  width: 12px;
  background: #e7c194;
  margin-top: -6px;
  margin-left: -6px;
}
.saturn:after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 4.676%;
  left: 50%;
  top: 0px;
  transform: rotateZ(-52deg);
  margin-left: -2.3%;
  margin-top: -1.2%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  -webkit-animation: orb 882.6952471456s linear infinite;
  animation: orb 882.6952471456s linear infinite;
  animation-direction: reverse;
  transform-origin: 52% 60%;
}

.uranus {
  height: 520px;
  width: 520px;
  margin-top: -260px;
  margin-left: -260px;
  -webkit-animation: orb 2512.4001967933s linear infinite;
  animation: orb 2512.4001967933s linear infinite;
}
.uranus:before {
  height: 10px;
  width: 10px;
  background: #b5e3e3;
  margin-top: -5px;
  margin-left: -5px;
}

.neptune {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  -webkit-animation: orb 4911.7838624549s linear infinite;
  animation: orb 4911.7838624549s linear infinite;
}
.neptune:before {
  height: 10px;
  width: 10px;
  background: #175e9e;
  margin-top: -5px;
  margin-left: -5px;
}

.asteroids-belt {
  opacity: 0.7;
  border-color: transparent !important;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  -webkit-animation: orb 179.9558282773s linear infinite;
  animation: orb 179.9558282773s linear infinite;
  overflow: hidden;
}
.asteroids-belt:before {
  top: 50%;
  height: 210px;
  width: 210px;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: -142px 66px 0 -104px rgba(255, 255, 255, 0.091),
    40px 143px 0 -104px rgba(255, 255, 255, 0.734),
    43px 8px 0 -104px rgba(255, 255, 255, 0.631),
    99px -126px 0 -104px rgba(255, 255, 255, 0.741),
    -22px -72px 0 -104px rgba(255, 255, 255, 0.557),
    124px -24px 0 -104px rgba(255, 255, 255, 0.102),
    -16px 70px 0 -104px rgba(255, 255, 255, 0.417),
    -42px 130px 0 -104px rgba(255, 255, 255, 0.16),
    84px 104px 0 -104px rgba(255, 255, 255, 0.936),
    101px 67px 0 -104px rgba(255, 255, 255, 0.54),
    20px 56px 0 -104px rgba(255, 255, 255, 0.826),
    -37px -33px 0 -104px rgba(255, 255, 255, 0.62),
    10px -144px 0 -104px rgba(255, 255, 255, 0.061),
    9px -18px 0 -104px rgba(255, 255, 255, 0.933),
    88px -113px 0 -104px rgba(255, 255, 255, 0.16),
    97px -134px 0 -104px rgba(255, 255, 255, 0.464),
    20px -142px 0 -104px rgba(255, 255, 255, 0.347),
    -105px -82px 0 -104px rgba(255, 255, 255, 0.271),
    -20px -43px 0 -104px rgba(255, 255, 255, 0.267),
    -32px 61px 0 -104px rgba(255, 255, 255, 0.841),
    -29px 29px 0 -104px rgba(255, 255, 255, 0.842),
    45px 143px 0 -104px rgba(255, 255, 255, 0.002),
    -68px -107px 0 -104px rgba(255, 255, 255, 0.385),
    141px 81px 0 -104px rgba(255, 255, 255, 0.404),
    19px -1px 0 -104px rgba(255, 255, 255, 0.581),
    -39px 116px 0 -104px rgba(255, 255, 255, 0.967),
    126px -98px 0 -104px rgba(255, 255, 255, 0.98),
    137px 135px 0 -104px rgba(255, 255, 255, 0.172),
    71px -104px 0 -104px rgba(255, 255, 255, 0.605),
    6px 33px 0 -104px rgba(255, 255, 255, 0.33),
    -63px 56px 0 -104px rgba(255, 255, 255, 0.344),
    -48px -33px 0 -104px rgba(255, 255, 255, 0.696),
    -132px -14px 0 -104px rgba(255, 255, 255, 0.575),
    -108px -127px 0 -104px rgba(255, 255, 255, 0.011),
    -130px -71px 0 -104px rgba(255, 255, 255, 0.991),
    122px 141px 0 -104px rgba(255, 255, 255, 0.042),
    -21px -144px 0 -104px rgba(255, 255, 255, 0.473),
    98px 1px 0 -104px rgba(255, 255, 255, 0.161),
    144px 29px 0 -104px rgba(255, 255, 255, 0.228),
    -94px 144px 0 -104px rgba(255, 255, 255, 0.068),
    145px 83px 0 -104px rgba(255, 255, 255, 0.696),
    -11px -11px 0 -104px rgba(255, 255, 255, 0.326),
    39px 21px 0 -104px rgba(255, 255, 255, 0.226),
    21px 62px 0 -104px rgba(255, 255, 255, 0.916),
    7px 83px 0 -104px rgba(255, 255, 255, 0.394),
    -105px 41px 0 -104px rgba(255, 255, 255, 0.329),
    -112px -115px 0 -104px rgba(255, 255, 255, 0.905),
    73px 144px 0 -104px rgba(255, 255, 255, 0.444),
    135px -44px 0 -104px rgba(255, 255, 255, 0.838),
    66px 120px 0 -104px rgba(255, 255, 255, 0.863),
    -120px 137px 0 -104px rgba(255, 255, 255, 0.862),
    -138px 119px 0 -104px rgba(255, 255, 255, 0.181),
    46px -72px 0 -104px rgba(255, 255, 255, 0.987),
    135px 63px 0 -104px rgba(255, 255, 255, 0.783),
    -120px 117px 0 -104px rgba(255, 255, 255, 0.265),
    41px 76px 0 -104px rgba(255, 255, 255, 0.664),
    6px -130px 0 -104px rgba(255, 255, 255, 0.508),
    -32px 4px 0 -104px rgba(255, 255, 255, 0.67),
    -141px 127px 0 -104px rgba(255, 255, 255, 0.018),
    -111px -34px 0 -104px rgba(255, 255, 255, 0.932),
    18px 94px 0 -104px rgba(255, 255, 255, 0.998),
    -109px -102px 0 -104px rgba(255, 255, 255, 0.149),
    -45px 66px 0 -104px rgba(255, 255, 255, 0.688),
    61px 1px 0 -104px rgba(255, 255, 255, 0.699),
    -108px -80px 0 -104px rgba(255, 255, 255, 0.423),
    101px -2px 0 -104px rgba(255, 255, 255, 0.473),
    -43px -21px 0 -104px rgba(255, 255, 255, 0.392),
    -48px -139px 0 -104px rgba(255, 255, 255, 0.423),
    -107px 67px 0 -104px rgba(255, 255, 255, 0.591),
    -21px 102px 0 -104px rgba(255, 255, 255, 0.633),
    0px -66px 0 -104px rgba(255, 255, 255, 0.649),
    -3px -102px 0 -104px rgba(255, 255, 255, 0.119),
    -73px -40px 0 -104px rgba(255, 255, 255, 0.489),
    70px -75px 0 -104px rgba(255, 255, 255, 0.616),
    112px -95px 0 -104px rgba(255, 255, 255, 0.335),
    -19px -121px 0 -104px rgba(255, 255, 255, 0.545),
    -49px -4px 0 -104px rgba(255, 255, 255, 0.76),
    -36px -105px 0 -104px rgba(255, 255, 255, 0.564),
    -101px -142px 0 -104px rgba(255, 255, 255, 0.339),
    -110px 131px 0 -104px rgba(255, 255, 255, 0.908),
    -71px 57px 0 -104px rgba(255, 255, 255, 0.04),
    120px -57px 0 -104px rgba(255, 255, 255, 0.113),
    -1px 53px 0 -104px rgba(255, 255, 255, 0.882),
    141px 58px 0 -104px rgba(255, 255, 255, 0.298),
    71px -38px 0 -104px rgba(255, 255, 255, 0.718),
    -85px 92px 0 -104px rgba(255, 255, 255, 0.443),
    47px -106px 0 -104px rgba(255, 255, 255, 0.451),
    -48px -61px 0 -104px rgba(255, 255, 255, 0.897),
    46px -80px 0 -104px rgba(255, 255, 255, 0.508),
    -33px 131px 0 -104px rgba(255, 255, 255, 0.242),
    44px 56px 0 -104px rgba(255, 255, 255, 0.403),
    21px 99px 0 -104px rgba(255, 255, 255, 0.015),
    -47px 13px 0 -104px rgba(255, 255, 255, 0.41),
    -46px -21px 0 -104px rgba(255, 255, 255, 0.015),
    -113px -45px 0 -104px rgba(255, 255, 255, 0.302),
    91px -40px 0 -104px rgba(255, 255, 255, 0.99),
    -120px -18px 0 -104px rgba(255, 255, 255, 0.341),
    -6px -64px 0 -104px rgba(255, 255, 255, 0.117),
    43px 16px 0 -104px rgba(255, 255, 255, 0.208),
    -92px 109px 0 -104px rgba(255, 255, 255, 0.834),
    -70px -47px 0 -104px rgba(255, 255, 255, 0.512),
    97px 56px 0 -104px rgba(255, 255, 255, 0.315),
    10px -18px 0 -104px rgba(255, 255, 255, 0.284),
    106px 112px 0 -104px rgba(255, 255, 255, 0.38),
    -142px -3px 0 -104px rgba(255, 255, 255, 0.667),
    -134px 97px 0 -104px rgba(255, 255, 255, 0.346),
    117px -35px 0 -104px rgba(255, 255, 255, 0.036),
    -80px 87px 0 -104px rgba(255, 255, 255, 0.958),
    78px 71px 0 -104px rgba(255, 255, 255, 0.729),
    -84px -114px 0 -104px rgba(255, 255, 255, 0.699),
    -84px 85px 0 -104px rgba(255, 255, 255, 0.662),
    93px -3px 0 -104px rgba(255, 255, 255, 0.038),
    65px -103px 0 -104px rgba(255, 255, 255, 0.128),
    -34px -44px 0 -104px rgba(255, 255, 255, 0.93),
    131px 136px 0 -104px rgba(255, 255, 255, 0.438),
    101px 43px 0 -104px rgba(255, 255, 255, 0.6),
    -127px 79px 0 -104px rgba(255, 255, 255, 0.681),
    70px -31px 0 -104px rgba(255, 255, 255, 0.412),
    84px -23px 0 -104px rgba(255, 255, 255, 0.281),
    39px 21px 0 -104px rgba(255, 255, 255, 0.735),
    138px -36px 0 -104px rgba(255, 255, 255, 0.43),
    -85px 36px 0 -104px rgba(255, 255, 255, 0.935),
    24px 111px 0 -104px rgba(255, 255, 255, 0.716),
    46px -125px 0 -104px rgba(255, 255, 255, 0.952),
    -138px 28px 0 -104px rgba(255, 255, 255, 0.691),
    -126px -108px 0 -104px rgba(255, 255, 255, 0.775),
    -26px 95px 0 -104px rgba(255, 255, 255, 0.756),
    -16px -122px 0 -104px rgba(255, 255, 255, 0.015),
    -89px -111px 0 -104px rgba(255, 255, 255, 0.695),
    -126px 104px 0 -104px rgba(255, 255, 255, 0.29),
    69px 107px 0 -104px rgba(255, 255, 255, 0.343),
    -118px -40px 0 -104px rgba(255, 255, 255, 0.72),
    117px 64px 0 -104px rgba(255, 255, 255, 0.041),
    52px -106px 0 -104px rgba(255, 255, 255, 0.519),
    57px 116px 0 -104px rgba(255, 255, 255, 0.32),
    2px 39px 0 -104px rgba(255, 255, 255, 0.555),
    -62px -114px 0 -104px rgba(255, 255, 255, 0.326),
    8px -9px 0 -104px rgba(255, 255, 255, 0.412),
    -110px -56px 0 -104px rgba(255, 255, 255, 0.225),
    -73px 99px 0 -104px rgba(255, 255, 255, 0.411),
    22px 47px 0 -104px rgba(255, 255, 255, 0.44),
    112px -1px 0 -104px rgba(255, 255, 255, 0.211),
    -22px -106px 0 -104px rgba(255, 255, 255, 0.264),
    58px 103px 0 -104px rgba(255, 255, 255, 0.204),
    42px 58px 0 -104px rgba(255, 255, 255, 0.322),
    -5px -71px 0 -104px rgba(255, 255, 255, 0.689),
    121px 57px 0 -104px rgba(255, 255, 255, 0.324),
    59px 100px 0 -104px rgba(255, 255, 255, 0.532),
    0px -66px 0 -104px rgba(255, 255, 255, 0.814),
    -15px -47px 0 -104px rgba(255, 255, 255, 0.942),
    -87px 61px 0 -104px rgba(255, 255, 255, 0.818),
    -86px -25px 0 -104px rgba(255, 255, 255, 0.88),
    25px -63px 0 -104px rgba(255, 255, 255, 0.535),
    -4px -82px 0 -104px rgba(255, 255, 255, 0.702),
    57px -102px 0 -104px rgba(255, 255, 255, 0.927),
    25px 37px 0 -104px rgba(255, 255, 255, 0.263),
    140px -96px 0 -104px rgba(255, 255, 255, 0.8),
    43px -19px 0 -104px rgba(255, 255, 255, 0.135),
    -85px 8px 0 -104px rgba(255, 255, 255, 0.867),
    141px 55px 0 -104px rgba(255, 255, 255, 0.613),
    -32px -114px 0 -104px rgba(255, 255, 255, 0.399),
    -87px 67px 0 -104px rgba(255, 255, 255, 0.986),
    -140px 128px 0 -104px rgba(255, 255, 255, 0.553),
    -72px -120px 0 -104px rgba(255, 255, 255, 0.715),
    -37px 81px 0 -104px rgba(255, 255, 255, 0.964),
    145px 107px 0 -104px rgba(255, 255, 255, 0.573),
    -50px 130px 0 -104px rgba(255, 255, 255, 0.226),
    -34px 77px 0 -104px rgba(255, 255, 255, 0.855),
    -27px -80px 0 -104px rgba(255, 255, 255, 0.186),
    98px 20px 0 -104px rgba(255, 255, 255, 0.512),
    -28px -83px 0 -104px rgba(255, 255, 255, 0.04),
    -98px 12px 0 -104px rgba(255, 255, 255, 0.168),
    -80px 37px 0 -104px rgba(255, 255, 255, 0.562),
    -84px 100px 0 -104px rgba(255, 255, 255, 0.663),
    -15px -65px 0 -104px rgba(255, 255, 255, 0.019),
    -127px 118px 0 -104px rgba(255, 255, 255, 0.338),
    -82px -110px 0 -104px rgba(255, 255, 255, 0.82),
    120px 137px 0 -104px rgba(255, 255, 255, 0.843),
    33px 36px 0 -104px rgba(255, 255, 255, 0.626),
    -79px -86px 0 -104px rgba(255, 255, 255, 0.568),
    -52px 5px 0 -104px rgba(255, 255, 255, 0.246),
    38px 140px 0 -104px rgba(255, 255, 255, 0.301),
    41px 25px 0 -104px rgba(255, 255, 255, 0.278),
    -98px 12px 0 -104px rgba(255, 255, 255, 0.221),
    -122px 143px 0 -104px rgba(255, 255, 255, 0.08),
    74px 17px 0 -104px rgba(255, 255, 255, 0.964),
    63px 136px 0 -104px rgba(255, 255, 255, 0.65),
    100px 39px 0 -104px rgba(255, 255, 255, 0.999),
    -13px 27px 0 -104px rgba(255, 255, 255, 0.78),
    -36px -21px 0 -104px rgba(255, 255, 255, 0.375),
    -30px 125px 0 -104px rgba(255, 255, 255, 0.988),
    -88px -59px 0 -104px rgba(255, 255, 255, 0.931),
    -25px 137px 0 -104px rgba(255, 255, 255, 0.622),
    55px -33px 0 -104px rgba(255, 255, 255, 0.121),
    3px -19px 0 -104px rgba(255, 255, 255, 0.904),
    96px -78px 0 -104px rgba(255, 255, 255, 0.614),
    83px -91px 0 -104px rgba(255, 255, 255, 0.101),
    -63px 111px 0 -104px rgba(255, 255, 255, 0.829),
    111px -16px 0 -104px rgba(255, 255, 255, 0.164),
    103px -115px 0 -104px rgba(255, 255, 255, 0.534),
    39px 84px 0 -104px rgba(255, 255, 255, 0.575),
    -91px -117px 0 -104px rgba(255, 255, 255, 0.962),
    42px 111px 0 -104px rgba(255, 255, 255, 0.096),
    -124px 28px 0 -104px rgba(255, 255, 255, 0.151),
    133px 38px 0 -104px rgba(255, 255, 255, 0.473),
    -52px -123px 0 -104px rgba(255, 255, 255, 0.62),
    -143px -17px 0 -104px rgba(255, 255, 255, 0.447),
    -49px -21px 0 -104px rgba(255, 255, 255, 0.797),
    -79px -116px 0 -104px rgba(255, 255, 255, 0.059),
    -33px 77px 0 -104px rgba(255, 255, 255, 0.275),
    41px 7px 0 -104px rgba(255, 255, 255, 0.914),
    -89px -94px 0 -104px rgba(255, 255, 255, 0.171),
    5px -21px 0 -104px rgba(255, 255, 255, 0.172),
    86px -68px 0 -104px rgba(255, 255, 255, 0.538),
    130px -141px 0 -104px rgba(255, 255, 255, 0.649),
    -103px -104px 0 -104px rgba(255, 255, 255, 0.648),
    34px -139px 0 -104px rgba(255, 255, 255, 0.807),
    -94px 51px 0 -104px rgba(255, 255, 255, 0.965),
    -78px 46px 0 -104px rgba(255, 255, 255, 0.246),
    40px 81px 0 -104px rgba(255, 255, 255, 0.623),
    -91px -98px 0 -104px rgba(255, 255, 255, 0.358),
    -126px 57px 0 -104px rgba(255, 255, 255, 0.573),
    19px 9px 0 -104px rgba(255, 255, 255, 0.899),
    -70px -94px 0 -104px rgba(255, 255, 255, 0.277),
    -17px 20px 0 -104px rgba(255, 255, 255, 0.221),
    36px -20px 0 -104px rgba(255, 255, 255, 0.465),
    -47px 95px 0 -104px rgba(255, 255, 255, 0.402),
    21px 131px 0 -104px rgba(255, 255, 255, 0.057),
    -60px 57px 0 -104px rgba(255, 255, 255, 0.151),
    -138px -94px 0 -104px rgba(255, 255, 255, 0.088),
    -112px -109px 0 -104px rgba(255, 255, 255, 0.998),
    -138px -102px 0 -104px rgba(255, 255, 255, 0.245),
    78px 140px 0 -104px rgba(255, 255, 255, 0.636),
    -17px 70px 0 -104px rgba(255, 255, 255, 0.461),
    99px -81px 0 -104px rgba(255, 255, 255, 0.329),
    90px -101px 0 -104px rgba(255, 255, 255, 0.899),
    -44px -78px 0 -104px rgba(255, 255, 255, 0.129),
    136px 63px 0 -104px rgba(255, 255, 255, 0.18),
    -94px -59px 0 -104px rgba(255, 255, 255, 0.107),
    109px -100px 0 -104px rgba(255, 255, 255, 0.288),
    -10px -115px 0 -104px rgba(255, 255, 255, 0.851),
    59px 55px 0 -104px rgba(255, 255, 255, 0.186),
    -83px -144px 0 -104px rgba(255, 255, 255, 0.023),
    84px 93px 0 -104px rgba(255, 255, 255, 0.906),
    89px -38px 0 -104px rgba(255, 255, 255, 0.952),
    -123px -109px 0 -104px rgba(255, 255, 255, 0.24),
    70px 30px 0 -104px rgba(255, 255, 255, 0.442),
    4px 113px 0 -104px rgba(255, 255, 255, 0.644),
    -81px 44px 0 -104px rgba(255, 255, 255, 0.092),
    -52px 48px 0 -104px rgba(255, 255, 255, 0.012),
    42px 144px 0 -104px rgba(255, 255, 255, 0.882),
    -52px 70px 0 -104px rgba(255, 255, 255, 0.465),
    51px 46px 0 -104px rgba(255, 255, 255, 0.945),
    -106px 49px 0 -104px rgba(255, 255, 255, 0.191),
    63px -144px 0 -104px rgba(255, 255, 255, 0.887),
    -135px -42px 0 -104px rgba(255, 255, 255, 0.996),
    -62px -67px 0 -104px rgba(255, 255, 255, 0.696),
    -65px -132px 0 -104px rgba(255, 255, 255, 0.917),
    20px -105px 0 -104px rgba(255, 255, 255, 0.994),
    -13px -33px 0 -104px rgba(255, 255, 255, 0.22),
    145px 15px 0 -104px rgba(255, 255, 255, 0.947),
    -135px -106px 0 -104px rgba(255, 255, 255, 0.296),
    -56px 124px 0 -104px rgba(255, 255, 255, 0.666),
    -99px -117px 0 -104px rgba(255, 255, 255, 0.255),
    -27px 99px 0 -104px rgba(255, 255, 255, 0.085),
    92px -53px 0 -104px rgba(255, 255, 255, 0.029),
    113px 21px 0 -104px rgba(255, 255, 255, 0.06),
    -79px 118px 0 -104px rgba(255, 255, 255, 0.778),
    86px 94px 0 -104px rgba(255, 255, 255, 0.049),
    -117px 93px 0 -104px rgba(255, 255, 255, 0.69),
    -19px -102px 0 -104px rgba(255, 255, 255, 0.24),
    8px -56px 0 -104px rgba(255, 255, 255, 0.258),
    100px -3px 0 -104px rgba(255, 255, 255, 0.674),
    -72px 22px 0 -104px rgba(255, 255, 255, 0.768),
    -79px 93px 0 -104px rgba(255, 255, 255, 0.364),
    -129px 119px 0 -104px rgba(255, 255, 255, 0.753),
    -1px -128px 0 -104px rgba(255, 255, 255, 0.776),
    -59px -24px 0 -104px rgba(255, 255, 255, 0.413),
    -17px 62px 0 -104px rgba(255, 255, 255, 0.104),
    17px -34px 0 -104px rgba(255, 255, 255, 0.36),
    -72px 23px 0 -104px rgba(255, 255, 255, 0.414),
    -63px 45px 0 -104px rgba(255, 255, 255, 0.68),
    -142px -130px 0 -104px rgba(255, 255, 255, 0.209),
    95px -64px 0 -104px rgba(255, 255, 255, 0.559),
    -86px 7px 0 -104px rgba(255, 255, 255, 0.304),
    56px 29px 0 -104px rgba(255, 255, 255, 0.313),
    -123px -105px 0 -104px rgba(255, 255, 255, 0.35),
    -70px -58px 0 -104px rgba(255, 255, 255, 0.502),
    -94px 9px 0 -104px rgba(255, 255, 255, 0.039),
    63px -125px 0 -104px rgba(255, 255, 255, 0.635),
    56px -64px 0 -104px rgba(255, 255, 255, 0.905),
    74px 96px 0 -104px rgba(255, 255, 255, 0.601),
    24px -111px 0 -104px rgba(255, 255, 255, 0.355),
    -1px -103px 0 -104px rgba(255, 255, 255, 0.783),
    101px -78px 0 -104px rgba(255, 255, 255, 0.601),
    71px -72px 0 -104px rgba(255, 255, 255, 0.561),
    -131px -58px 0 -104px rgba(255, 255, 255, 0.429),
    130px 34px 0 -104px rgba(255, 255, 255, 0.32),
    11px -84px 0 -104px rgba(255, 255, 255, 0.718),
    90px 70px 0 -104px rgba(255, 255, 255, 0.909),
    -41px 101px 0 -104px rgba(255, 255, 255, 0.815),
    26px -88px 0 -104px rgba(255, 255, 255, 0.645),
    133px -100px 0 -104px rgba(255, 255, 255, 0.749),
    22px -74px 0 -104px rgba(255, 255, 255, 0.939),
    -67px -112px 0 -104px rgba(255, 255, 255, 0.647),
    99px -22px 0 -104px rgba(255, 255, 255, 0.214),
    132px -13px 0 -104px rgba(255, 255, 255, 0.979),
    56px -139px 0 -104px rgba(255, 255, 255, 0.941),
    83px 89px 0 -104px rgba(255, 255, 255, 0.879),
    -131px -92px 0 -104px rgba(255, 255, 255, 0.784),
    133px -55px 0 -104px rgba(255, 255, 255, 0.56),
    -73px 137px 0 -104px rgba(255, 255, 255, 0.074),
    4px -65px 0 -104px rgba(255, 255, 255, 0.172),
    98px 95px 0 -104px rgba(255, 255, 255, 0.457),
    115px 105px 0 -104px rgba(255, 255, 255, 0.852),
    112px 54px 0 -104px rgba(255, 255, 255, 0.312),
    143px -125px 0 -104px rgba(255, 255, 255, 0.549),
    -115px 49px 0 -104px rgba(255, 255, 255, 0.774),
    -133px -1px 0 -104px rgba(255, 255, 255, 0.328),
    -130px 89px 0 -104px rgba(255, 255, 255, 0.224),
    -107px 106px 0 -104px rgba(255, 255, 255, 0.115),
    64px 125px 0 -104px rgba(255, 255, 255, 0.594),
    91px 60px 0 -104px rgba(255, 255, 255, 0.555),
    129px 18px 0 -104px rgba(255, 255, 255, 0.421),
    97px -76px 0 -104px rgba(255, 255, 255, 0.722),
    61px 22px 0 -104px rgba(255, 255, 255, 0.858),
    -44px 100px 0 -104px rgba(255, 255, 255, 0.485),
    141px 145px 0 -104px rgba(255, 255, 255, 0.535),
    -133px 70px 0 -104px rgba(255, 255, 255, 0.469),
    133px 58px 0 -104px rgba(255, 255, 255, 0.073),
    -41px -144px 0 -104px rgba(255, 255, 255, 0.799),
    -39px 135px 0 -104px rgba(255, 255, 255, 0.258),
    -55px 110px 0 -104px rgba(255, 255, 255, 0.656),
    -123px -12px 0 -104px rgba(255, 255, 255, 0.492),
    132px 131px 0 -104px rgba(255, 255, 255, 0.997),
    0px 44px 0 -104px rgba(255, 255, 255, 0.349),
    125px 104px 0 -104px rgba(255, 255, 255, 0.458),
    65px -121px 0 -104px rgba(255, 255, 255, 0.201),
    43px -134px 0 -104px rgba(255, 255, 255, 0.02),
    18px 143px 0 -104px rgba(255, 255, 255, 0.442),
    -38px -37px 0 -104px rgba(255, 255, 255, 0.57),
    -46px 134px 0 -104px rgba(255, 255, 255, 0.418),
    -65px -105px 0 -104px rgba(255, 255, 255, 0.499),
    21px 15px 0 -104px rgba(255, 255, 255, 0.927),
    -119px -3px 0 -104px rgba(255, 255, 255, 0.42),
    128px -38px 0 -104px rgba(255, 255, 255, 0.348),
    -55px -5px 0 -104px rgba(255, 255, 255, 0.492),
    112px 32px 0 -104px rgba(255, 255, 255, 0.528),
    -24px 112px 0 -104px rgba(255, 255, 255, 0.077),
    -78px -17px 0 -104px rgba(255, 255, 255, 0.514),
    24px -85px 0 -104px rgba(255, 255, 255, 0.694),
    -92px 51px 0 -104px rgba(255, 255, 255, 0.118),
    -4px -20px 0 -104px rgba(255, 255, 255, 0.123),
    -58px 122px 0 -104px rgba(255, 255, 255, 0.961),
    61px 87px 0 -104px rgba(255, 255, 255, 0.221),
    131px -93px 0 -104px rgba(255, 255, 255, 0.98),
    81px -121px 0 -104px rgba(255, 255, 255, 0.332),
    130px 67px 0 -104px rgba(255, 255, 255, 0.113),
    -7px 70px 0 -104px rgba(255, 255, 255, 0.101),
    51px -102px 0 -104px rgba(255, 255, 255, 0.216),
    -68px -125px 0 -104px rgba(255, 255, 255, 0.21),
    101px 130px 0 -104px rgba(255, 255, 255, 0.909),
    142px -128px 0 -104px rgba(255, 255, 255, 0.96),
    66px -52px 0 -104px rgba(255, 255, 255, 0.748),
    -130px -80px 0 -104px rgba(255, 255, 255, 0.945),
    -130px 54px 0 -104px rgba(255, 255, 255, 0.315),
    -124px 7px 0 -104px rgba(255, 255, 255, 0.87),
    -122px -38px 0 -104px rgba(255, 255, 255, 0.771),
    -52px 116px 0 -104px rgba(255, 255, 255, 0.411),
    42px -89px 0 -104px rgba(255, 255, 255, 0.614),
    -71px 6px 0 -104px rgba(255, 255, 255, 0.99),
    60px 134px 0 -104px rgba(255, 255, 255, 0.815),
    -53px 113px 0 -104px rgba(255, 255, 255, 0.08),
    -37px -94px 0 -104px rgba(255, 255, 255, 0.919),
    -51px -50px 0 -104px rgba(255, 255, 255, 0.656),
    18px 33px 0 -104px rgba(255, 255, 255, 1),
    -46px 48px 0 -104px rgba(255, 255, 255, 0.027),
    23px 75px 0 -104px rgba(255, 255, 255, 0.863),
    -55px 25px 0 -104px rgba(255, 255, 255, 0.256),
    40px 31px 0 -104px rgba(255, 255, 255, 0.409),
    20px 106px 0 -104px rgba(255, 255, 255, 0.793),
    -70px 104px 0 -104px rgba(255, 255, 255, 0.97),
    -55px 66px 0 -104px rgba(255, 255, 255, 0.419),
    -82px 11px 0 -104px rgba(255, 255, 255, 0.802),
    -63px 142px 0 -104px rgba(255, 255, 255, 0.423),
    -56px -120px 0 -104px rgba(255, 255, 255, 0.852),
    22px -62px 0 -104px rgba(255, 255, 255, 0.055),
    44px -37px 0 -104px rgba(255, 255, 255, 0.03),
    1px -117px 0 -104px rgba(255, 255, 255, 0.682),
    133px 59px 0 -104px rgba(255, 255, 255, 0.465);
}

.pluto {
  height: 780px;
  width: 780px;
  margin-top: -450px;
  margin-left: -320px;
  -webkit-animation: orb 7439.7074054575s linear infinite;
  animation: orb 7439.7074054575s linear infinite;
}
.pluto:before {
  height: 3px;
  width: 3px;
  background: #fff;
  margin-top: -1.5px;
  margin-left: -1.5px;
}

.hide {
  display: none;
}

.links {
  margin-top: 5px !important;
  font-size: 1em !important;
}

@-webkit-keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
